@model IEnumerable<P01_DbFirst.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategoriler</h1>

<p>
    <a asp-action="Create">Yeni Kategori</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName) @* HTML.Helpers *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Detay</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
